<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <title>Job Scraper</title>
    </head>
    <body>
        <main class="container">
            <h1>Search Results for "{{keyword}}":</h1>
            <a href="/export?keyword={{keyword}}" target="_blank">Export to CSV</a>
            <div class="overflow-auto">
                <table>
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Company</th>
                            <th>Region</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs %}
                        <tr>
                            <td><span>{{job.position}}</span></td>
                            <td><span>{{job.company}}</span></td>
                            <td><span>{{job.region}}</span></td>
                            <td>
                                <a href="{{job.link}}" target="_blank"
                                    >Apply from {{job.reference}}</a
                                >
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
